RewriteEngine On

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

#AuthName "SSPI Protected Place"
AuthType SSPI
SSPIAuth On
SSPIAuthoritative On
SSPIOfferBasic On

Order Allow,Deny
Allow from all

SetEnvIfNoCase Remote_Addr .* authRequired
SetEnvIfNoCase Request_URI ^/api/ !authRequired
SetEnvIfNoCase Request_URI ^/index.php !authRequired

Deny from env=authRequired
Require valid-user
Satisfy any







