$white: #F0F0F0;
$gray: #CCCCCC;
$very_light_gray: #f8f8f8;
$very_light_gray2: #e7e7e7;
$very_dark_gray: #333333;
$black: #1a1a1a;

$soft_red: #d9534f;
$strong_red: #b52b27;

$soft_orange: #f0ad4e;
$vivid_orange: #df8a13;

$very_dark_yellow: #2a3200;

$moderate_lime_green: #5cb85c;
$dark_moderate_lime_green: #3d8b3d;

$moderate_blue: #428bca;
$dark_moderate_blue: #2d6987;
$soft_cyan: #5bc0de;





$body_bg: $very_light_gray;
$page_wrapper_border: $very_light_gray2;


// BRANDING
$primary: $moderate_blue;
$primary_highlight: $dark_moderate_blue; 
$success: $moderate_lime_green;
$success_highlight: $dark_moderate_lime_green;
$danger: $soft_red;
$danger_highlight: $strong_red;
$warning: $soft_orange;
$warning_highlight: $vivid_orange;
$warning_highlight: $vivid_orange;
$info: $soft_cyan;
$green: $moderate_lime_green;
$green_highlight: $dark_moderate_lime_green;
$red: $soft_red;
$red_highlight: $strong_red;
$yellow: $soft_orange;
$yellow_highlight: $vivid_orange;
$inverse: $very_dark_gray;
$inverse_highlight: $black;

$placeholder: $gray;
