/* Common, default styles for the notification box */
@import 'colors';

.ns-box {
	position: fixed;
	background: $very_dark_yellow;
	padding: 22px;
	line-height: 1.4;
	z-index: 1001;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 90%;
	z-index:10010;
}

.ns-box.ns-show {
	pointer-events: auto;
}

.ns-box a {
	color: inherit;
	opacity: 0.7;
	font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
	opacity: 1;
}

.ns-box p {
	margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
	pointer-events: auto;
}

.ns-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
	outline: none;
}

.ns-close::before,
.ns-close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 60%;
	top: 50%;
	left: 50%;
	background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
	background: #fff;
}

.ns-close::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}
//notice, warning, error or success
.ns-box {
	&.ns-genie.ns-type-success, &.ns-attached.ns-type-success, &.ns-other.ns-type-success .ns-box-inner .ns-content 	{ background:$success !important; color: $white; }
	&.ns-genie.ns-type-warning, &.ns-attached.ns-type-warning, &.ns-other.ns-type-warning .ns-box-inner .ns-content		{ background:$warning !important; color: $white; }
	&.ns-genie.ns-type-error, 	&.ns-attached.ns-type-error, &.ns-other.ns-type-error .ns-box-inner .ns-content 		{ background:$danger !important; color: $white; }
	&.ns-genie.ns-type-notice, 	&.ns-attached.ns-type-notice, &.ns-other.ns-type-notice .ns-box-inner .ns-content		{ background:$info !important; color: $white; }
	&.ns-genie.ns-type-primary, &.ns-attached.ns-type-primary, &.ns-other.ns-type-primary .ns-box-inner .ns-content 	{ background:$primary !important; color: $white; }
	&.ns-genie.ns-type-inverse, &.ns-attached.ns-type-inverse, &.ns-other.ns-type-inverse .ns-box-inner .ns-content		{ background:$inverse !important; color: $white; }
}
.ns-effect-thumbslider {
	.ns-content {
		border-radius:32px;
	}
	
	.ns-close {
		top:3.3em !important;
		right:2.0em !important;
	}
}

//@import 'ns-style-bar';
@import 'ns-style-attached';
@import 'ns-style-growl';
@import 'ns-style-other';