fieldset[disabled] {
	display:none;
}

.form_element {
	margin-bottom:4px !important;
}

.form-control {
	color:black !important;
}

.div-btn-edit, .div-btn-reset, .div-btn-delete, .div-btn-new, .div-btn-other {
	height:64px;
	width:33.33%;
	background:#eaeaea;
	border: none;
	position:absolute;
	top:0;
	left:0;
	border-radius:5px;

	opacity:0;
	transition: all 0.3s;

	fieldset {
		border:none;
	}

	button.multiselect.dropdown-toggle,
  textarea,
  input:not([type='checkbox']):not([type='radio']):not([type='select']):not([type='button']):not([type='reset']):not([type='submit']) {
		width:100% !important;
	}
	.panel {
		border: none !important;
	}

	&.max {
		position:fixed;
		height:auto;
		width:auto;
		opacity:1;
		z-index:9990;
		top:20px;
		left:20px;
		right:20px;
		bottom:20px;
		overflow:auto;

		.panel-body {
			padding: 0 !important;
			margin-top:60px;
			margin-bottom:70px;
		}

		.frm_wrapper {
			visibility:visible;

		//	transition:opacity 0.3s ease 0.4s;
			opacity:1;

			.row.side-by-side {
				// height:auto;
				// min-height:300px;
				// max-height:60%;
				// overflow:auto;
			}

			div.form-control.tokeninput {
				width: 100% !important;
			}

			.form-control {
				color: black !important;
			}

			.form-control input[type=checkbox],
			.form-control input[type=radio]			{
				float:left;
				margin-top:-6px;
				margin-right:10px;
				outline:none !important;
			}

			.form-control input[data-validtype=color] {
				text-decoration: underline;
				text-decoration-color: black;
			}

			fieldset {
				padding-bottom:40px;
			}

			form .panel-btns {
				position:absolute;
				margin-top:40px;
				padding:0;
				top:0px;
				left:0px;
				right:0px;

				width:auto;
				background:lighten($primary, 20%) !important;
				border: none;
				border-bottom: 1px solid $primary;

				&.footer {
					margin-top:0 !important;
					top:inherit;
					border-top: 1px solid $primary;
					border-bottom: none;
					position:fixed;
					bottom:20px !important;
					left:20px !important;
					right:20px !important;
				}

				.btn {
					padding: 10px;
				}

				.btn-formMenu {
					background: lighten($primary,10%) !important;
					border: 1px solid $primary;
					outline: none !important;
					cursor: default;
					color : darken($primary,10%);
				}
			}

		}

	}

	.frm_wrapper {
		visibility:hidden;
		//transition:all 0.1s;
		opacity:0;
	}
}

.side-by-side {


	.form-control {
		display:inline-block ;
		width:auto;
	}

	label:not(.bootstrap-switch-label) {
		font-weight:bold;
		color:$primary;
	}


	.div_radios {
		float:right;

		label, input {
			float:none;
		}
	}

	legend {
		width: inherit;
		padding:0 5px;
		margin-bottom:10px;
	}

	fieldset {
		border-radius:3px;
	}


}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $placeholder !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $placeholder !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $placeholder !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    $placeholder !important;
}
