i {
	&.i-primary { color: $primary; }
	&.i-success	{ color: $success; }
	&.i-warning	{ color: $warning; }
	&.i-danger	{ color: $danger; }
	&.i-info	{ color: $info; }
	&.i-blue	{ color: $primary; }
	&.i-red		{ color: $red; }
	&.i-green	{ color: $green; }
	&.i-yellow	{ color: $yellow; }
}
