
* {
	font-family: 'Ubuntu', sans-serif;
	border-radius: 0 !important;
}

.cursor-move {
	cursor:move;
}

body,
html {

	/**  **  **  **  **  **  **  **  **  **
	 *   THEMES
	 **  **  **  **  **  **  **  **  **  **/
	&.dev { @include theme-variant($success); }
	&.prod { @include theme-variant($info); }
	&.home { @include theme-variant( $success ); }
	&.homeprod { @include theme2-variant( #1B1464, #C6DFF0, #C6DFF0 ) }

}


.navbar-toggle {
	display:block !important;
}

#wrapper {
    width: 100%;
}

.clear {
	clear:both;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

#chat_container .label {
	margin-right:3px;
}

label a { color:white; }


.li-red {
	a {
		color:$red !important;
	}
}

.ajax-activity-preloader {

	background:url('../../images/ajax-activity-preloader.gif') repeat-y;
	height:36px;
	width:82px;

}
